/* Footer general styles */
/* footer */
#footer {
    background-color: #e5e5e5;
    color: rgba(42, 42, 42, .85);
    margin-top: auto;
}

/* footer-container */
#footer-container {}

/* footer content */
#footer-content {}

/* footer text */
#footer-text {
    text-align: center;
    font-weight: 500;
}

/* media queries */
@media screen and (max-width: 320px) {

    /* footer */
    #footer {}

    /* footer-container */
    #footer-container {
        padding: 1em 0;
    }

    /* footer content */
    #footer-content {}

    /* footer text */
    #footer-text {
        font-size: 12px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {

    /* footer */
    #footer {}

    /* footer-container */
    #footer-container {
        padding: 1.5em 0;
    }

    /* footer content */
    #footer-content {}

    /* footer text */
    #footer-text {
        font-size: 12.5px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    /* footer */
    #footer {}

    /* footer-container */
    #footer-container {
        padding: 2em 0;
    }

    /* footer content */
    #footer-content {}

    /* footer text */
    #footer-text { 
        font-size: 13px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    /* footer */
    #footer {}

    /* footer-container */
    #footer-container {
        padding: 2em 0;
    }

    /* footer content */
    #footer-content {}

    /* footer text */
    #footer-text {
        font-size: 14px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    /* footer */
    #footer {}

    /* footer-container */
    #footer-container {
        padding: 2em 0;
    }

    /* footer content */
    #footer-content {}

    /* footer text */
    #footer-text {
        font-size: 15px;
    }
}

@media screen and (min-width: 1201px) {

    /* footer */
    #footer {}

    /* footer-container */
    #footer-container {
        padding: 2em 0;
    }

    /* footer content */
    #footer-content {}

    /* footer text */
    #footer-text {
        font-size: 16px;
     }
}